@media (max-width: 480px) {
	

}

@media (max-width: 800px) {

	body {
		padding: 0;
	}

	header {
		 .buttons {
			display: none;
		}

		.title {
			font-size: 6em;
		}
	}

	article p {
		font-size: 14px;
		line-height: 1.6;
	}
}

@media (min-width: 1200px) {
	.github-ribbon {
		position: fixed;
	}
}