@media (min-width: 800px) {

	.header {
		position: relative;

		.buttons {
			position: absolute;
			right: 0;
			top: 50%;

			> .btn {
				display:block;
				padding: 0.2em 0;
				width: 107px;
			}
		}
	}

	
}

@media (min-width: 1200px) {
	.github-ribbon {
		position: fixed;
	}
}