/////////////////////////////
/// VARS
/////////////////////////////

@blue : #77C4D3;
@grey : #333745;
@white : #DAEDE2;
@red : #EA2E49; 

@fadedWhite : fade(@white, 10);
@fadedRed: fade(@red, 35);

//switch these to re-theme
@primaryColor : @red;
@fadedPrimaryColor : fade(@primaryColor, 35);
@secondaryColor : @blue;
@bodyColor: @white;
@fadedBodyColor : fade(@bodyColor, 10);
@bgColor : @grey;


// breakpoints
@lapBreakpoint : ~"screen and (min-width: 50em)";
@deskBreakpoint : ~"screen and (min-width: 70em)";