body {
	font-family: sans-serif;
}

*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag {
	color: #f92672;
}

.token.boolean,
.token.number{
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #a6e22e;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value
{
	color: #e6db74;
}


.token.keyword{
color: #f92672;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre, code {
	#fonts > .code;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code {
	font-size: 0.95em;
}

pre,
:not(pre) > code {
	background: darken(@bgColor, 3);
	border-radius: .3em;
}

:not(pre) > code {
	padding: .3em .3em .2em;
}

pre {
	overflow: auto;	
	word-wrap: normal;
	padding: 1em;
	margin: 1em 0;
	box-shadow: inset 0 1px 3px -1px darken(@bgColor, 10), 0 1px 0 lighten(@bgColor, 10);
}

.code-view {
	background-color: #333;
	color: #fff;
	padding: 1em;

	border-radius: 5px;

	opacity: 1;

	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.code-view--inactive {
	opacity: 0;
}

.main {
	max-width: 40em;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

.hidden {
	display: none;
}

.setup {
	font-weight: bold;
}
.unmatch {
	color: red;
}
.match {
	color: blue;
}

.destroy {
	text-decoration: line-through;
}

.log {
    padding: 1em;
    background-color: #eee;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 1em 0;

    max-height:10em;
    overflow: auto;
}

.log__entry {
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid #666;
	background-color: #eee;
	margin-bottom: 1em;
	box-shadow: 1px 1px 4px -1px #666; 

	-webkit-animation: fadeIn 0.5s 1;
    -moz-animation: fadeIn 0.5s 1;
}

.log__entry--matched {
    border-color: rgb(0, 200, 0);
    background-color: rgb(214, 234, 214);
}
.log__entry--unmatched {
	border-color: rgb(200, 0, 0);
	background-color: rgb(234, 214, 214);
}
.log__entry--setup {
    border-color: rgb(0, 0, 200);
    background-color: rgb(214, 214, 234);
}
.log__entry--destroy {
	
}

.example-state {
    padding: 1em;
    background-color: #eee;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 1em 0;
    overflow: auto;
}

.example-state__item {
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #666;
	background-color: #eee;
	margin-bottom: 1em;
	box-shadow: 1px 1px 4px -1px #666; 

	-webkit-animation: fadeIn 0.5s 1;
    -moz-animation: fadeIn 0.5s 1;
}

.example-state__item:before {
	color: #999;
    margin-right: 1em;

    content: "\2714";
    text-shadow: 1px 1px 1px #444;
    font-size: 1.2em;
}

.example-state__item--on {
    border-color: rgb(0, 200, 0);
    background-color: rgb(214, 234, 214);

}

.example-state__item--on:before {
    color: rgb(0, 200, 0);
    /* background-color: rgb(214, 234, 214); */
}

.example-state__item--off {
	border-color: rgb(200, 0, 0);
	background-color: rgb(234, 214, 214);
}

.example-state__item--off:before {
	content: "\2718";
    color: rgb(200, 0, 0);
    /* background-color: rgb(214, 234, 214); */
}


.example-state__item--secondary {
	float: left;
	width: calc(50% - 0.5em);
}
.example-state__item--secondary:last-child {
	margin-left: 1em;
}



@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}